/* BARRE DE NAVIGATION */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  height: 80px;
}

#user{
  display: inline-block;
  float: inline-end;
}

/* Style the links inside the navigation bar */
.topnav button {
  color: #FFFFFF;
  float: left;
  padding: 10px 13px;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;
  border: transparent;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: #008B8B;
  color: black;
}

.topnav button #profil{
  float: right;

}

/* Add a color to the active/current link */
.topnav button.active {
  background-color: #008B8B;
  color: white;
}

/* Bouton Logout */
#logout{
  background-color: #333;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 40px;
  top: 70px;
}
#logout:hover{
  background-color: #008B8B;
}

/* FIN DE LA BARRE DE NAVIGATION */



* {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

/* PAGE CREER UN COMPTE */
.d-flex{
  position: relative;
  top: 13px;
}
#photoProfil{
  position: relative;
  top: -90px;
}
#image{
  position: relative;
  right: 140px;
}
#ajouterPhoto{
  background-color: white;
  border-radius: 5px;
  position: relative;
  right: 150px;
}
#ajouterPhoto:hover{
  background-color: #008B8B;
}
#nom{
  position: relative;
  width: 259px;
  left: 8px;
}
#prenom{
  position: relative;
  left: 13px;
}
#adresseEmail{
  position: relative;
  left: -7px;
}
#localite{
  width: 600px;

}
#anneeNaissance{
  position: relative;
  top: -142px;
  left: 339px;
}
#dateInput{
  position: relative;
  top: -78px;
  left: 122px;
}
#domaineActivite{
  position: relative;
}
#roles{
  width: 400px;
  height: 100px;
}
#commentaire{
  width: 400px;
}
#logNow{
  background-color: #333;
  border-radius: 5px;
  color: white;
  position: relative;
  left: 1100px;
}
#logNow:hover{
  background-color: #008B8B;
}

/* PAGE ACCUEIL */
#boxRechercher{
  position: absolute;
  left: 820px;
  top: -115px;
}

#motsCles{
  border-radius: 5px;
  border-color: #333;
}

#boutonRechercher{
  border-radius: 5px;
  border-color: #333;
  position: absolute;
  right: -120px;
}
  
#boutonRechercher:hover{
  background-color: #008B8B;
}

#nouveauxMembres{
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: -57px;
}

.box {
  border: 2px solid #008B8B;
  background-color: white(0, 139, 139, 0.37) ;
  padding: 10px;
  transition-duration: 0.4s;
  height: auto;
  width: 220px;
  align-items: flex-start;
}
.box:hover{
  background-color: #008B8B ;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

#boxNouveauxMembres1{
  position: absolute;
  top: 40px;
  left: -70px;
}

#boxNouveauxMembres2{
  position: absolute;
  top: 40px;
  left: 0px;
}

#annoncesRecentes{
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#nvlleAnnonce{
  border-radius: 5px;
  border-color: #333;
  float:right;
  top: -60px;
  left: 1125px;
}
#nvlleAnnonce:hover{
  background-color: #008B8B;
}

#boxAnnoncesRecentes1{
  position: absolute;
  top: 60px;
  left: 0px;
}
#boxAnnoncesRecentes2{
  position: absolute;
  top: 220px;
  left: 0px;
}
#boxAnnoncesRecentes3{
  position: absolute;
  top: 380px;
  left: 0px;
}
#fullHeart{
  position: relative;
  left: 124px;
  bottom: 75px;
}
#publier{
  background-color: #333;
  border-radius: 5px;
  color: white;
}
#publier:hover{
  background-color: #008B8B;
}
/* FIN DE LA PAGE ACCUEIL */


/* PAGE MES FAVORIS */
#mesFavoris{
  font-size: 25px;
  position: absolute;
  top: 250px;
  left: 28px;
}

#annoncesEtProfils{
  position: relative;
  top: 70px;
  left: -37px;
}

#footer{
  position: relative;
  bottom: -50px;
}

/* FIN DE LA PAGE MES FAVORIS */



#box2 {
  position: absolute;
  right: 10px;
  color: #333;
}

#header {
  font-size: 80px;
  float: left;
}

#head{
  border: black 1px;
  display: block;
}

#NUA {
  color: #008B8B;
}
#p1 {
  color: #333;
}
#nouvmemb {
  clear: both;
  width: 727px;
  float: left;
  font-size: medium;
  color: #000000;
}

#grillememb {
  width: 727px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 270px;
  grid-gap: 3px;
  padding: 3px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 260px;
  width: 120px;
  padding: 40px;
  margin-left: 7px;
  font-size: medium;
  text-align: left;
} 

#grillevenmt {
  width: 520px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
#evenmt {
  width: 520px;
  float: right;
  font-size: medium;
  color: #000000;
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 3px;
  background-color: rgb(159, 200, 216);
  padding: 3px;
}
.grid-item1 {
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: auto;
  padding: 10px;
  font-size: medium;
}
.grid-item1:hover{
  background-color: rgba(0, 139, 139, 0.363) ;
}

#txtAnnonce {
  display: inline-block;
  float: right;
}
#gridevnmt{
  float:right;
  text-align: top;
  height: auto;
  width: 300px;
  background-color: white;

}
#footer {
  clear: both;
  background-color: #000000 ;
  color : #FFFFFF;
  padding: 10px;
  text-align: right;
}

/* Spécial Mes favoris */
#grillefav {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  }
.grid-contfav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 3px;
  padding: 3px;
  }       
.grid-itemfav {
  height: 160px;
  width: 120px;
  padding: 20px;
  margin-left: 7px;
  font-size: medium;
  text-align: left;
  } 

.grid-item1fav {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 110px;
  padding: 20px;
  font-size: medium;
  }
#gridevnmtfav{
  float:left;
  text-align: top;
  height: 100px;
  width: 200px;
  background-color: white;
  }
#gridevnmt1{
  float:right;
  text-align: top;
  height: 100px;
  width: 800px;
  background-color: white;
  }
#gridpict{
  float:left
  }      
.grid-contfav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 3px;
  padding: 3px;
  }    

/* Ajout page Favoris de Gavin*/
.box{
align-self: center;
}

#contact{
display: flex;
flex-flow: column wrap;
height: 100px;
width: 100px;
border:px solid;
}
.info{
width: 100px;
height: 150px;
}
.annonce{
display: flex;
align-content: center;
width: 550px;
height: 100px;
}

/*CSS d'Amélie, de base pour la page explorer*/
ul#bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  #008B8B;
}
li a.active{
    background-color: #008B8B;
     color: white;
}
#box2 {
  position: absolute;
  right: 10px;
  color: #333;
}

#mainTitle{
    font-size: 40px;
    font-weight: bold;
    color: #008B8B;
    display: inline-block;
    margin: 10px 5px 20px 5px;
    padding-bottom: 40px;
}
#underTitle{
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 5px 20px 5px;
    padding-bottom: 40px;
    color: #333;
  
}

#titre {
    padding: 10px;
    height: 60px;
}

.modifier{
  position: absolute;
  left: 243px;
  top: 185px;
  background-color: #333;
  padding: 5px 5px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

/* PAGE MON PROFIL */ 
.boxInformationsPersonnelles {
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  width: auto;
  color: #333;
  position: absolute; 
  top: 200px; 
  left: 0px;
}

#boxLiensEtPiecesJointes {
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  position: absolute;
  top: 200px;
  left: 600px;
}

#boxMaBiographie{
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  position: absolute;
  top: 650px;
  left: 0px;
}

#modifierProfil{
  background-color: #333;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 215px;
  left: 1174px;
}
#modifierProfil:hover{
  background-color: #008B8B;
}

#submit{
  background-color: #333;
  color: white;
  border-radius: 5px;
}
#submit:hover{
  background-color: #008B8B;
}

#modifierPhotoProfil{
  background-color: #333;
  color: white;
  border-radius: 5px;
}
#modifierPhotoProfil:hover{
  background-color: #008B8B;
}
/* FIN DE LA PAGE MON PROFIL */



/* PAGE LOGIN */
.user_card {
  height: fit-content;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  background: #008B8B;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
#titre_premierePage {
  text-align: center;
}
#NUA_premierePage {
  color: #008B8B;
  font-size: 65px;
}
#soustitre_premierePage {
  color: #333;
  font-size: 35px;
}
#creation{
  background-color: #008B8B;
  color: black;
  margin: auto;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  text-align: center;
  position: absolute;
  top: 450px;
  left: 50px;
}
#creation:hover{
  background-color: #333;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background-color: #333 !important;
  color: white !important;
  border-radius: 5px;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_btn:hover{
  background-color: #008B8B;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #333 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
#ml-2{
  color: #333;
}

#login-dropdown-list.accounts-dialog{
  background-color: #008B8B; 
}
#login-sign-in-link.login-link-text{
  color:#333;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 120px;
  left: 60px;
}
#login-dropdown-list.accounts-dialog{
  vertical-align: middle;
  width: 300px;
  position: absolute;
  top: 50px;
  left: -18px;
}
#login-buttons-password.login-button.login-button-form-submit{
  background-color: #008B8B;
}
#login-buttons-password.login-button.login-button-form-submit:hover{
  background-color: #333;
}
#loginCompte{
  background-color: #008B8B;
  position: absolute;
  top: 250px;
  right: 120px;
}
#loginCompte:hover{
  background-color: #333;
}
#inputEmail4{
  width: 259px;
}
#inputPassword4{
  width: 259px;
}

/* TOUT LE CSS CI-DESSOUS DOIT ETRE TRIE ET DEPLACER VERS LA SECTION DE SA PAGE CORRESPONDANTE */

/* ajout CSS favori Tinto*/
p{
  font-size: 13px;
}
.br{
  margin-bottom: 2 px;
}
.contfav{
  padding:0;
}
.contann{
  border: 2px solid black;
  overflow-y:scroll;
  margin-bottom: 3px;
}
.matdiv{
  float:left;
}
.butclass{
  box-shadow: 5px 5px 0 black;
  float: right;
}
.size{
  height:15px; 
}
.colon{
  text-align: bottom;  
}
.listdiv{
  display:inline-flex;
  flex-direction: column;
  font-size: 11px;
  padding:0 ;
  list-style-type: none;
  border: 2px solid black;
}
.classul{
  list-style-type: none;
  padding:0;
  margin:0;
  font-size: 10px;
  font-weight: bold;
  line-height: 0.75;
}
.favdiv{
  float:right;
}
/*ajout pour page create annonce*/
.contfavann{
  padding-left: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-flex;
}
.cadre{
  border: 1px solid black;
}
.butclassann{
  box-shadow: 5px 5px 0 black;
  margin-bottom: 20px;
  width: 100px;
  display: inline-block;
  padding: 10;

}
.header{
  padding-top: 20px;
}
.rangedim{
  padding-top: 20px;
  width: 90px;
  font-size: 13px;
}
.rowformat{
  padding: 20px;
}
.accumembers{
  width:300px;
}