/* id = #, ne s'utilise qu'une seule fois dans la page

 et class  = . , pour plusieurs éléments
 
 "chaque id doit avoir une valeur propre ou unique dans une page. 
 En revanche, on va pouvoir attribuer la même valeur à plusieurs 
 attributs class différents. */

/*appliqué à tout le document*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

/*barre de navigation
je ne sais pas comment faire pour que ces propriétés ne s'appliquent
que au li de la barre de navigation et pas à toute la page sans mettre 
un id dans chaque <li id'bar'> 
Est ce que c'est possible?*/
ul#bar {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}
li {
 float: left;
}
li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li a:hover {
 background-color:  #008B8B;
}

/*Titre & sous-titre*/
#mainTitle{
   font-size: 45px;
   color: #008B8B;
   display: inline-block;
   margin: 10px 5px 10px 10px;
}
#underTitle{
   font-size: 25px;
   display: inline-block;
   margin: 10px 5px 10px 10px;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
}

#contact{
    display: flex;
    flex-flow: column wrap;
    height: 100px;
    width: 100px;

}
#photo{
    
    border: 2px solid black;
    width: 50px; 
    align-items: baseline;
}

#profile{
    display: flex;
    justify-content: flex-end;

}

#box2 {
    position: absolute;
    right: 10px;
}

#profile1{
    background-color: white;

}
.box{
    align-self: center;
    
}
.info p{
    height: 1px;
    font-size: 10px;
    align-self: center;
}
.info{
    width: 100px;
    height: 150px;
}
#boite{
    display: inline-block;
    margin: 10px 5px 10px 10px;
}
.annonce{
    display: flex;
    align-content: center;
    width: 550px;
    height: 100px;


}

.button{
    display: inline-block;
    
}

.Nouveau{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    
}