/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 401px; 
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23.55px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FFFFFF;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #008B8B;
    color: white;
  }
  
  #box2 {
    position: absolute;
    right: 10px;
    color: #333;
  }
  
  #header {
    font-size: 40px;
  }
  #NUA {
    color: #008B8B;
  }
  #p1 {
    color: #333;
  }
  
  .modifier{
    position: absolute;
    left: 243px;
    top: 185px;
    background-color: #333;
    padding: 5px 5px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
  }
  
  #box3 a:hover{
    background-color: #008B8B;
  }
  
  #box5 {
    position: absolute;
    top: 250px;
    left: 350px;
    font-size: 20px;
  }
  
  #box6 {
    position: absolute;
    top: 250px;
    left: 800px;
  }
  
  #box7 {
    position: absolute;
    top: 550px;
    left: 10px;
  }