    <!--Start definition template Profils--> 

    <template name="newmemb">
        <div  class="col-md-2" >
                
            
            <img src="https://plus.maths.org/issue42/outerspace/square.png" alt="photoDeProfil" width=130px>
            
            <ul class="listdiv">
                <li>{{username}}</li>
                <li>{{profile.profession}}</li> 
                <li>{{profile.sexe}}</li>
                <li>{{profile.nom}} {{profile.prenom}}</li>
                <p>Région/localité : {{profile.localite}}</p>
                <p>Compétences/fonctions : {{profile.roles}}</p>
                <p>Année de naissance : {{profile.dateInput}}</p>

            </ul>
                         
            <span class="material-icons favdiv">
                favorite_border
            </span>
        </div>
    </template>