    <!--Start definition template Annonces pour affichage sur FAVORIS-->

    <template name="publication">

        <div class="line row">
    
            <div  class="col-md-2">
                   
                <div class="d-flex flex-column matdiv">
                    <span class="material-icons size">
                        favorite
                    </span>  
                             
                </div>

                <div>
                    <img src="https://plus.maths.org/issue42/outerspace/square.png" alt="photoDeProfil" width=130px>
                </div>  
    
            </div>
    
            <div  class="col-md-4" >
                <p>Région: {{region}}</p>
                <p>Nombre de participant.es recherché.es : {{part}} </p>
                <p>Fonctions recherchées : {{role}}</p>
                <p>Contacter {{email}}</p> 
            </div>
            <div  class="col-md-5" >
                <p>
                    {{title}} : {{description}}
                </p> 
                    
            </div>
            <div  class="colon col-md-1" >
                <!--<button class="butclass">En savoir plus</button>-->
            </div>
        </div>
    
    </template>