    <!--Start definition template Annonces-->

    <template name="publication">

        <div class="line row">
    
            <div  class="col-md-3">
                   
                <div class="d-flex flex-column matdiv">
                    <span class="material-icons size">
                        favorite
                    </span>  
                             
                </div>

                <div>
                    <img src="https://plus.maths.org/issue42/outerspace/square.png" alt="photoDeProfil" width=130px>
                </div>  
    
            </div>
    
            <div  class="col-md-1" >
                
                <ul class="classul">
                    <li>Prenom nom</li>
                    <li>Age</li> 
                    <li>Profession</li>
                    <li>Localité</li>
                </ul>
            </div>
            <div  class="col-md-6" >
                <p>
                    {{title}} : {{description}}
                </p> 
                    
            </div>
    
            <div  class="colon col-md-2" >
                <button class="butclass">En savoir plus</button>
    
            </div>
        </div>
    
    </template>