<!-- création d'un profil-->

<template name="creation">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="mainTitle">NUA</div>
    <div id="underTitle">Networking Universitaire Artistique</div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
     crossorigin="anonymous">
  </head>
  <form>
  <div class="d-flex">
    <div>
        <h3>Créer un compte</h3>
    </div>
    
    <div class="d-flex">
        <p>Champs obligatoires <span class="text-danger">*</span></p>
    </div>
</div>
<div class="d-flex align-items-end justify-content-end">
 <div id='photoProfil' class="d-flex align-items-end justify-content-end">Photo de profil</div>
  <div>
    <img id='image' src="https://plus.maths.org/issue42/outerspace/square.png" 
    alt="photoDeProfil" width=100px> 
    <input id='ajouterPhoto' type="button" value="Ajouter">
</div> 
</div>

    <div class="form-row">
    <div id='nom' class="form-group col-md-3">
      <label for="nom">Nom<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="nom" name="nom">
    </div>
    <div class="form-group col-md-3">
      <label id='prenom' for="prenom">Prénom<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="prenom" name=prenom>
    </div>
    

  </div><br>
  <div class="form-inline">
    <div class="form-group col-md-3">
      <label id='adresseEmail' for="inputEmail4">Adresse email<span class="text-danger">*</span></label>
      <input type="email" class="form-control" id="inputEmail4" name="inputEmail4">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Mot de passe<span class="text-danger">*</span></label>
      <input type="password" class="form-control" id="inputPassword4" name="inputPassword4">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPasswordCheck">Confirmer le mot de passe<span class="text-danger">*</span></label>
      <input type="password" class="form-control" id="inputPasswordCheck" name="inputPasswordCheck">
    </div>
    </div><br>
  <div class="form-inline">
    <div class="form-group col-md-3">
      <label id='localite' for="localite">Dans quelle région/localité vous situez-vous?<span class="text-danger">*</span></label>
      <input type="text" name="localite" class="form-control" id="localite">
    </div>
    </div>
    <div class="form-inline">
      <label id='anneeNaissance' for="example-date-input" class="col-2 col-form-label">Année de naissance<span class="text-danger">*</span></label>
      <div class="col-md-2.5">
      <input class="form-control" type="texte" name="dateInput" id="dateInput">
      </div>
  <div id='domaineActivite' class="form-inline">
    <div class="form-group col-md-2">
      <strong>Domaine d'activité :</strong>
      <label for="formControlRange">Quelles sont vos complétences ou les fonctions que vous cherchez à occuper ?</label>
  
      <textarea class="form-control" rows="5" id="roles" name="roles" placeholder="Par exemple : photographe, réalisateur.trice, cameraman, perchiste, monteur.euse, maquilleur.euse, acteur.trice,..."></textarea>
  
    </div> 
   </div>
  <br>
  
    <textarea  class="form-control" rows="1" name="commentaire" id="commentaire" placeholder="Commentaires additionnels"></textarea>
    <button id ="logNow">Enregistrer</button> 
    </div><br>
    <div> </div>


</form>
</template>