<!-- création d'un profil-->

<template name="creation">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="mainTitle">NUA</div>
    <div id="underTitle">Networking Universitaire Artistique</div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
     crossorigin="anonymous">
  </head>
  <form>
  <div class="d-flex">
    <div>
        <h3>Créer un Compte</h3>
    </div>
    <div class="d-flex -">
        <p>champs obligatoires <span class="text-danger">*</span></p>
    </div>
</div>
<div class="d-flex align-items-end justify-content-end">
 <div class="d-flex align-items-end justify-content-end">Photo de profil</div>
  <div>
    <img src="https://plus.maths.org/issue42/outerspace/square.png" 
    alt="photoDeProfil" width=100px> 
    <input type="button" value="Ajouter">
</div> 
</div>

    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="nom">Nom<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="nom" name="nom">
    </div>
    <div class="form-group col-md-3">
      <label for="prenom">Prénom<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="prenom" name=prenom>
    </div>

  </div><br>
  <div class="form-inline">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Adresse email de contact<span class="text-danger">*</span></label>
      <input type="email" class="form-control" id="inputEmail4" name="inputEmail4">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Mot de passe<span class="text-danger">*</span></label>
      <input type="password" class="form-control" id="inputPassword4" name="inputPassword4">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPasswordCheck">Confirmer le mot de passe<span class="text-danger">*</span></label>
      <input type="password" class="form-control" id="inputPasswordCheck" name="inputPasswordCheck">
    </div>
    </div><br>
  <div class="form-inline">
    <div class="form-group col-md-3">
      <label for="localite">Dans quelle région/localité vous situez-vous/êtes vous prêt.e à vous déplacer?<span class="text-danger">*</span></label>
      <input type="text" name="localite" class="form-control" id="localite">
    </div>
    </div><br>
  <div class="form-inline">
    <div class="form-group col-md-2">
      <strong>Domaine d'activité :</strong>
      <label for="formControlRange">Quelles sont vos complétences ou les fonctions que vous cherchez à occuper ?</label>
      <label for="formControlRange">Par exemple : photographe, réalisateur.trice, cameraman, perchiste, monteur.euse, maquilleur.euse, acteur.trice,... </label>
      <br>
      <br>
      <textarea class="form-control" rows="5" id="roles" name="roles" placeholder=" "></textarea>
  
    </div> 
   </div>
  <br>
  <div class="form-inline">
    <label for="example-date-input" class="col-2 col-form-label">Année de naissance<span class="text-danger">*</span></label>
    <div class="col-md-2.5">
    <input class="form-control" type="texte" name="dateInput" id="dateInput">
    </div>
    </div><br>
    <div></div>

<button id ="logNow" >Enregistrer</button>  
</form>
</template>