<!-- Ne pas modifier ! -->

<template name ="heaader">
  <div class="topnav">
  <box id="box2">Prénom Nom
  <img src="https://plus.maths.org/issue42/outerspace/square.png" alt="photoDeProfil" width=60px></box>
</div>
<div>
  <div id="mainTitle">NUA</div>
  <div id="underTitle"> Networking Universitaire Artistique</div>
</div>
</template>

<template name ="header">
  <header>
    <div id= titre>
      <p id="soustitre"><strong id= NUA>NUA</strong> - Networking Universitaire Artistique</p>
    </div>
  </header>
</template>

