    <!--Start definition template Profils--> 

    <template name="nnomprof">
        <div  class="col-md-2" >
                
            
            <img src="https://plus.maths.org/issue42/outerspace/square.png" alt="photoDeProfil" width=130px>
            
            <ul class="listdiv">
                <li>{{nom}}</li>
                <li>{{age}}</li> 
                <li>{{profess}}</li>
                <li>{{localité}}</li>
            </ul>
            
            
            <span class="material-icons favdiv">
                favorite_border
            </span>
         
        </div>
    </template>