    <!--Start definition template Profils--> 

    <template name="nomprof">
        <div  class="col-md-2" >
                
            
            <img src="https://plus.maths.org/issue42/outerspace/square.png" alt="photoDeProfil" width=130px>
            
            <ul class="listdiv">
                <li>{{currentUser.username}}</li>
                <li>{{profile.profession}}</li> 
                <li>{{profile.sexe}}</li>
                <li>{{currentUser.profile.nom}} {{currentUser.profile.prenom}}</li>
                <p>Région/localité : {{currentUser.profile.localite}}</p>
                <p>Compétences/fonctions : {{currentUser.profile.roles}}</p>
                <p>Année de naissance : {{currentUser.profile.dateInput}}</p>

            </ul>
                         
            <span class="material-icons favdiv">
                favorite
            </span>
        </div>
    </template>