    <!--Start definition template Profils--> 

    <template name="nomprof">
        <div  class="col-md-2" >
                
            <div>
                <img src="https://plus.maths.org/issue42/outerspace/square.png" alt="photoDeProfil" width=130px>
            </div>  
              
            <ul class="listdiv">
                <li>{{nom}}</li>
                <li>{{age}}</li> 
                <li>{{profess}}</li>
                <li>{{localité}}</li>
            </ul>

            <div class="d-flex">
                <span class="material-icons">
                     
                </span>
                <span class="material-icons favdiv">
                    favorite
                </span>
            </div>
        </div>
    </template>